@import "tailwindcss";

@theme {
  --color-black: #0a0a0a;
  --color-white: #ededed;
  --color-normalorange: #fb7e03;
  --color-normalpurple: #882cac;
  --color-normalyellow: #ffd03e;
  --color-lightpink: #f8119f;
  --color-darkpink: #cc007e;
  --color-lightteal: #44c299;
  --color-darkteal: #218f76;
  --color-blue: #4fc3f7;
  --color-green: #81c784;
  --color-red: #ef5350;
}

@theme inline {
  --font-title: var(--font-sedgwick);
  --font-copy: var(--font-nunito);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-black);
  color: var(--color-white);
  font-family: var(--font-copy), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title), sans-serif;
}
