@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme {
  --color-normalorange: #fb7e03;
  --color-normalpurple: #882cac;
  --color-normalyellow: #ffd03e;
}

@theme inline {
  --font-title: var(--font-sedgwick);
  --font-copy: var(--font-geist-sans);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-copy), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title), sans-serif;
}
